<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzy.dao.OrdersMapper" >
  <insert id="addOrders">
    insert into orders values
     (#{oid},#{ordertime},#{total},#{state},#{address},#{name},#{telephone},#{user.uid})
  </insert>

  <update id="updateOrders">
    update orders set address=#{address},name=#{name},telephone=#{telephone} where oid=#{oid}
  </update>
  
  <update id="updateOrderState">
    update orders set state=1 where oid=#{oid}
  </update>

  <select id="findAllOrders" resultType="Orders">
    select * from orders where uid=#{uid}
  </select>

  <select id="findAllOrderItemByOid" resultType="map">
    select i.count,i.subtotal,p.pimage,p.pname,p.price
     from orderitem i,product p
     where i.pid=p.pid and i.oid=#{oid}
  </select>
</mapper>